html {
	font-family: "Georgia", serif;
	line-height: 2rem;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
		font-family: "PT Sans Caption", sans-serif;
}
